    <footer>
        <div class="logo"><h1>BLOG</h1></div>
        <div class="links">
            <a target="_blank" href="https://facebook.com">f</a>
            <a target="_blank" href="https://instagram.com">IG</a>
            <a target="_blank" href="https://x.com">X</a>
        </div>
        <div class="copyright"><h2>&copy; {% year %} BLOG</h2></div>
    </footer>