    <section class="header">
        <div class="logo">
            <a href="/">BLOGS</a>
        </div>
        <div class="blogs">
            <a href="/contact">Contact US</a>
        </div>
    </section>