body{
    margin: 0;
    padding: 0;
    background-color: #f6f6f6;
}

.header{
    top: 0;
    margin: 0;
    padding: 10px 0;
    width: 100%;
    background: #222222;
    color: #fff;
    text-align: center;
    position: sticky;
}
.hero h1{
    margin: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
    font-weight: 200;
    letter-spacing: 5px;
    padding: 10% 0 5px 0;
}
.hero p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-weight: 200;
}
.logo{
    font-size: 20px;
    font-weight: 600;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.hero-content{
    width: 80%;
    margin: auto;
}
.hero{
    color: #fff;
    height: 35vh;
    width: 100%;
    margin: 0;
    padding: auto;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(blogBG.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.discover{
    background-color: #131313;
    color: #fff;
    padding: 10px 20px;
    font-size: 20px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 400;
    text-decoration: none;
    cursor: pointer;
    transition: 0.2s;
}
.discover:hover{
    background-color: #fff;
    color: black;
}
.featured,
.recent{
    text-align: center;
    padding: 20px 10%;
}
.row{
    justify-content: space-between;
    display: flex;
}
.card{
    padding: 20px;
    margin: 15px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    text-decoration: none;
    color: #000000;
    transition: 0.2s;
}
.card:hover{
    background-color: #3b3b3b;
    color: #fff;
}
.featured h1,
.recent h1{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}
.featured h1 span,
.recent h1 span{
    color: #3b3b3b;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.banner{
    margin: 30px 0;
    padding: 30px 40px;
    color: #fff;
    background-color: #3b3b3b;
    justify-content: space-between;
    display: flex;
}
.banner .Logo{
    width: 60%;
}
.banner .Logo h1{
    width: 80%;
    margin: 0;
    font-size: 30px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}
.banner .Logo span{
    color: #f6f6f6;
    font-size: 18px;
    font-weight: 300;
    font-family: 'Times New Roman', Times, serif;
}
.newsletter{
    margin: auto;
    width: 40%;
}
.newsletter input{
    width: 100%;
    border: 2px solid #ffffff;
    border-radius: 5px;
    outline: none;
    padding: 8px;
    font-size: 15px;
}
footer{
    color: #fff;
    padding: 30px;
    background-color: #000000;
    text-align: center;
    display: flex;
    flex-direction: column;
}
footer h1{
    color: #fff;
    margin: 0;
    font-size: 30px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}
footer a{
    text-decoration: none;
    color: #000000;
    margin: 0 30px;
    padding: 10px;
    border-radius: 50%;
    background-color: #fff;
    font-size: 20px;
    transition: 0.2s;
}
footer a:hover{
    background-color: #3b3b3b;
    color: #fff;
}
footer .links{
    padding: 20px 0 0 0;
}
